.inf {
  display: flex;
}

header {
  display: flex;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/e/e3/Wikipedia_logo_letters_banner.svg);
  background-position: right;
  background-repeat: no-repeat;
  justify-content: space-between;
  padding: 15px;
}

header h2 {
  margin: 8px auto;
}
header h3 {
  margin: 8px auto;
}
.informacion {
  margin: 5px;
  width: 85%;
  background-color: #f8f9fa;
  border: 1px solid #c8ccd1;
  border-radius: 2px;
  box-shadow: 0 1px 1px rgb(0 0 0 / 15%);
  padding: 8px;
  border-radius: 10px;
}

.informacion p {
  margin-block-start: 0.1em;
  margin-block-end: 0.4em;
  margin: 10px;
}
